.title-1{
    font-size: var(--size-1);
    color: var(--black);
    font-weight: var(--weight-1);
    font-family: var(--font-1);
    line-height: var(--l-height-1);
}

.title-2{
    font-size: var(--size-2);
    color: var(--black);
    font-weight: var(--weight-1);
    line-height: var(--l-height-2);
    font-family: var(--font-1);
}

.title-3{
    font-size: var(--size-3);
    color: var(--black);
    font-weight: var(--weight-1);
    line-height: var(--l-height-3);
    font-family: var(--font-1);
}

.paragraph{
    font-size: var(--size-4);
    color: var(--black);
    font-weight: var(--weight-2);
    font-family: var(--font-2);
    line-height: var(--l-height-4);
}

.boldParagraph{
    font-size: var(--size-4);
    color: var(--black);
    font-weight: var(--weight-1);
    font-family: var(--font-2);
    line-height: var(--l-height-4);
}

.alert{
    font-size: var(--size-5);
    color: var(--black);
    font-weight: var(--weight-1);
    font-family: var(--font-1);
    line-height: var(--l-height-5);
}

.label{
    font-size: var(--size-label);
    color: var(--light-blue);
    font-weight: var(--weight-2);
    font-family: var(--font-1);
    line-height: var(--l-height-6);
}