.jobs {
    display: flex;
    align-items: center;
    background-color: var(--blue);
    height: 25vh;
    color: var(--white);


}

.boxAbout {
    height: 65vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .about {
        width: 60%;
        margin: 0 1rem;

        h2{
            margin-bottom: 5rem;
        }
    }

    .img {
        width: 40%;

        img {
            width: 100%;
        }
    }
}