.modalContainer {
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;

    background-color: var(--offBlue);
    display: flex;
    align-items: center;
    justify-content: center;

    .spanX{
        position: absolute;
        right: 0;
        cursor: pointer;
    }

    .modal {
        position: absolute;
        margin: auto 0;
        width: 650px;
        height: 546px;
        background-color: var(--white);
        border: 1px solid var(--offBlue);
        padding: 2.5rem;
        
        .divContainer {
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;

            .divText{
                height: 40%;
                
                h3{
                    margin-bottom: 0.75rem;
                }
            }

            .divForm {
                display: flex;
                flex-direction: column;
            }
        }
    }
}